.filter-box {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0.6rem 1.3rem;
    border: 1px solid black;
    cursor: pointer;
}

.filter-text {
    margin-right: 15px;
}

.none{
    display: none;
}

.active{
    display: block;
}