.filter-box {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.3rem;
    cursor: pointer;
    border-radius: 10px;
}

.filter-text {
    margin-right: 15px;
}

.none{
    display: none;
}

.active{
    display: block;
}


.white-mode{
    background-color: var(--white-theme-components);
    color: var(--text-white-theme);
}

.dark-mode{
    background-color: var(--dark-theme-components);
    color: var(--text-dark-theme);
}