.main-header-container {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2.5rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    /* Define a largura máxima do header */
}

.switch-theme-box {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.icons {
    height: 18px;
    width: 18px;
}

.theme-text {
    font-weight: 600;
}

@media (max-width: 768px) {
    .main-header-container {
        padding: 0.8rem 1.5rem;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }

    .switch-theme-box {
        margin-top: 0.5rem;
    }
}


@media (max-width: 400px) {
    .title{
        font-size: 1.7rem;
    }
}