.container-country-details {
    margin: 1.5rem 2.5rem;
}

.top-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.container-details {
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
}

.flag-box {
    width: 500px;
    height: 400px;
}

.flag-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .container-details {
        flex-direction: column;
        align-items: center;
    }

    .flag-box {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .columns-details {
        grid-template-columns: 1fr;
    }
}