:root {
  --white-theme: #fff;
  --dark-theme: #212e37;
  --white-text-color: #fff;
  --dark-text-color: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", 'Arial', sans-serif;  
  background-color: var(--white-theme);
  color: var(--dark-text-color);
  padding: 1rem 1.5rem;
}