.country-card {
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-card img {
    width: 100%;  
    height: 150px; 
    object-fit: cover; 
    border-radius: 4px;
}

.country-card .country-info-box {
    padding: 15px;
}

.country-card .country-name {
    padding: 15px 0;
    font-size: 1.1rem;
}

.country-card .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.country-card .row-info {
    display: flex;
}

.country-card .bold {
    margin-right: 2px;
    font-weight: bold;
}